
       /*--MENU---*/

    @media (min-width:660px){
        li{
          left:50%;
        }
    }

    @media (max-width:659px)  {
        li{
          left:10px;
          font-size: 1.4em;
          padding: 8px 20px 9px 20px;
          margin-right:5px;

        }
    }


    /*TITULO-ABOUT*/

    @media (min-width:571px) and (max-width:940px) {
        .titulo-about{
           font-size: 12em;
        }
    }
    @media  (min-width:353px) and (max-width:570px) {
        .titulo-about{
           font-size: 10em;
        }
    }
    @media (max-width:352px) {
        .titulo-about{
           font-size: 8em;
        }
    }

    /*CONTAINER-TITULO*/

    @media (max-width:940px) {
        .container-titulo{
          margin-left: 2%;
        }
    }

    /*IRIS*/

    @media (max-width:770px){
       #iris{
         left:35%;
         top: 30%;
       }

       @media (max-width:390px) {
           #iris{
               left:20%;
               top: 25%;

           }
       }
    }


    /*TEXT-DESCRICAO*/

    @media (max-width:645px){
      .text-descricao{
        font-size: 2.2em;
        text-align: center;
        padding: 0px;

      }
    }

    /*CONTAINER-CARDS * PRODUTOS*/

    @media (min-width:1051px) {
        .produto{
          padding-left: 10% ;
        }
    }

    @media(min-width:770px) and (max-width:1050px){

         .container-cards{
           grid-template-columns:repeat(3, 220px);
           grid-template-rows: 310px;
           grid-auto-rows: 310px;
           grid-column-gap:25px;


          }

          .produto{
            padding-left: 5%;
          }


}

    @media  (min-width:521px) and (max-width:770px)  {

           .container-cards{
             grid-template-columns:repeat(2,220px);
             grid-template-rows: 290px;
             grid-auto-rows: 290px;
             grid-column-gap: 35px;

           }
           .produto{

            padding-left: 4%;

           }
  }


   @media (max-width:520px) {

     .container-cards{
       grid-template-columns:220px;
       grid-template-rows: 290px;
       grid-auto-rows: 290px;
       grid-column-gap: 20px;

     }
           .produto{
             padding-left: 10%;
           }

   }


    /*CONTATO-CONTAINER*/



    @media (min-width:810px) (max-width:960px){
       .contato-container{
         margin-left: 2%;
       }
       .contato-container{
         grid-template-columns: repeat(2,320px);
      }
    }

    @media (min-width:520px) and (max-width:809px) {
       .contato-container{
         margin-left: 30%;
       }
       .contato-container{
         grid-template-columns: repeat(1,360px);
       }
    }

    @media (min-width:421px) and (max-width:560px) {
       .contato-container{
         margin-left:20%;
       }
       .contato-container{
         grid-template-columns: repeat(1,310px);

       }
     }

    @media (max-width:420px) {

       .contato-container{
         grid-template-columns: repeat(1,auto);
         margin: 50px 0px 50px 0px;
       }
       .teleEmail{
         font-size: 2.2em;
       }
   }

   /*ENDERECO*/

   @media (max-width:420px) {
     .endereco{
       font-size: 2.4em;


     }

   }

   /* FOOTER */

   @media (max-width:300px) {
     .footer{
       font-size: .7em;
     }
   }
